__pycache__/
*.pyc
venv/
node_modules/
.env
*.log
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/*.py
!data/processed/*.py
!data/raw/*.csv
!data/raw/*.json
!data/raw/*.md
frontend/dist/
frontend/.env.local
